{% extends "base.html" %}

{% block main %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">
        <a href="{{ url_for('.slides_index') }}">{{ page_title }}</a>
      </h1>
    </div>
    <div>
      <form method="POST" action=".">
        {{ form.csrf_token }}

          <div class="form-group row">
          <label for="{{ form.icon.id }}" class="col-md-2 col-form-label">{{ form.icon.label }}</label>
          <div class="col-md-7">
            {{ form.icon(class_="form-control", placeholder=form.icon.default) }}
          </div>
        </div>

        <div class="form-group row">
          <label for="{{ form.text.id }}" class="col-md-2 col-form-label">{{ form.text.label }}</label>
          <div class="col-md-7">
            {{ form.text(class_="form-control", placeholder=form.text.default) }}
          </div>
        </div>

        <div class="form-group row">
          <label for="{{ form.title.id }}" class="col-md-2 col-form-label">{{ form.title.label }}</label>
          <div class="col-md-7">
            {{ form.title(class_="form-control", placeholder=form.title.default) }}
          </div>
        </div>


        <div class="form-group row">
          <label for="createdAt" class="col-md-2 col-form-label">Data de Criação</label>
          <div class="col-md-7">
            {{ "{:%d/%m/%Y - %H:%M:%S %Z}".format(target_obj.createdAt) }}
          </div>
        </div>

        <div class="form-group row">
          <label for="updatedAt" class="col-md-2 col-form-label">Data de Atualização</label>
          <div class="col-md-7">
            {{ "{:%d/%m/%Y - %H:%M:%S %Z}".format(target_obj.updatedAt) }}
          </div>
        </div>


        <div class="form-group row">
          <div class="col-md-9">
            <button type="submit" class="btn btn-primary float-right">Salvar</button>
          </div>
        </div>
      </form>
    </div>
  </main>
{% endblock main %}
