{% extends "base.html" %}

{% block main %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">
        <a href="{{ url_for('.users_index') }}">{{ page_title }}</a>
      </h1>
    </div>
    <div>
      <form method="POST" action=".">
        {{ form.csrf_token }}


          <div class="form-group row">
          <label for="{{ form.name.id }}" class="col-md-2 col-form-label">{{ form.name.label }}</label>
          <div class="col-md-7">
            {{ form.name(class_="form-control", placeholder=form.name.default) }}
          </div>
        </div>

          <div class="form-group row">
          <label for="{{ form.username.id }}" class="col-md-2 col-form-label">{{ form.username.label }}</label>
          <div class="col-md-7">
            {{ form.username(class_="form-control", placeholder=form.username.default) }}
          </div>
        </div>

          <div class="form-group row">
          <label for="{{ form.email.id }}" class="col-md-2 col-form-label">{{ form.email.label }}</label>
          <div class="col-md-7">
            {{ form.email(class_="form-control", placeholder=form.email.default) }}
          </div>
        </div>

          <div class="form-group row">
          <label for="{{ form.phone.id }}" class="col-md-2 col-form-label">{{ form.phone.label }}</label>
          <div class="col-md-7">
            {{ form.phone(class_="form-control", placeholder=form.phone.default) }}
          </div>
        </div>

          <div class="form-group row">
          <label for="{{ form.userRole.id }}" class="col-md-2 col-form-label">{{ form.userRole.label }}</label>
          <div class="col-md-7">
            {{ form.userRole(class_="form-control", placeholder=form.userRole.default) }}
          </div>
        </div>
          <div class="form-group row">
          <label for="{{ form.address.id }}" class="col-md-2 col-form-label">{{ form.address.label }}</label>
          <div class="col-md-7">
            {{ form.address(class_="form-control", placeholder=form.address.default) }}
          </div>
        </div>

        <div class="form-group row">
          <label for="{{ form.signupTerms.id }}" class="col-md-2 col-form-label">{{ form.signupTerms.label }}</label>
          <div class="col-md-7">
            {{ form.signupTerms(class_="form-control", placeholder=form.signupTerms.default) }}
          </div>
        </div>

        <div class="form-group row">
          <label for="{{ form.emailVerified.id }}" class="col-md-2 col-form-label">{{ form.emailVerified.label }}</label>
          <div class="col-md-7">
            {{ form.emailVerified(class_="form-control", placeholder=form.emailVerified.default) }}
          </div>
        </div>


        <div class="form-group row">
          <div class="col-md-9">
            <button type="submit" class="btn btn-primary float-right">Salvar</button>
          </div>
        </div>
      </form>
    </div>
  </main>
{% endblock main %}
