{% extends "base.html" %}

{% block main %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">{{ page_title }}</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
{#          <button type="button" class="btn btn-sm btn-outline-secondary">Compartilhar</button>#}
{#          <button type="button" class="btn btn-sm btn-outline-secondary">Exportar</button>#}
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class='table table-striped'>
        <thead>
          <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Tipo de usuário</th>
            <th>E-mail verificado?</th>
            <th>Última atualização</th>
            <th>Criado em</th>
            <!-- <th class="col-md-1">Ações</th> por algum motivo isso começou a quebrar o site-->
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for user in all_users %}
            <tr>
              <td>{{ user.name }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.city.city }}</td>
              <td>{{ user.state }}</td>
              <td>{{ user.userRole }}</td>
                {% if user.emailVerified  %} <td><i data-feather='check-circle'></i></td> {% endif %}
                {% if not user.emailVerified  %} <td><i data-feather='slash'></i></td> {% endif %}
              <td>{{ "{:%d/%b/%Y}".format(user.updatedAt) }}</td>
              <td>{{ "{:%d/%b/%Y}".format(user.createdAt) }}</td>
              <td class="float-center">
                <div class="btn-group btn-group-sm" role="group">
                  <a class="btn btn-primary" href="{{ url_for('.users_edit', object_id=user.objectId)}}">
                    <i data-feather='edit'></i>
                  </a>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
{% endblock main %}
