{% extends "base.html" %}

{% block main %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">
        <a href="{{ url_for('.feedbacks_index') }}">{{ page_title }}</a>
      </h1>
    </div>
    <div>
      <form method="POST" action=".">
        {{ form.csrf_token }}

          <div class="form-group row">
          <label for="{{ form.message.id }}" class="col-md-2 col-form-label">{{ form.message.label }}</label>
          <div class="col-md-7">
            {{ form.message(class_="form-control", placeholder=form.message.default) }}
          </div>
        </div>

           <div class="form-group row">
          <label for="cityId" class="col-md-2 col-form-label">Enviado por</label>
          <div class="col-md-7">
            {{ target_obj.senderId.name }}
          </div>
        </div>

        <div class="form-group row">
          <label for="cityId" class="col-md-2 col-form-label">Recebido por</label>
          <div class="col-md-7">
            {{ target_obj.recipientId.userId.name }}
          </div>
        </div>

          <div class="form-group row">
            <label for="cityId" class="col-md-2 col-form-label">Orçamento</label>
            <div class="col-md-7">
             {{ target_obj.quotationsId.objectId }}
            </div>
          </div>
          <div class="form-group row">
            <label for="cityId" class="col-md-2 col-form-label">Data de criação</label>
            <div class="col-md-7">
             {{ "{:%d/%m/%Y - %H:%M:%S %Z}".format(target_obj.createdAt) }}
            </div>
          </div>
          <div class="form-group row">
            <label for="cityId" class="col-md-2 col-form-label">Data de última edição</label>
            <div class="col-md-7">
             {{ "{:%d/%m/%Y - %H:%M:%S %Z}".format(target_obj.updatedAt) }}
            </div>
          </div>

        <div class="form-group row">
          <div class="col-md-9">
            <button type="submit" class="btn btn-primary float-right">Salvar</button>
          </div>
        </div>
      </form>
    </div>
  </main>
{% endblock main %}
