{% extends "base.html" %}

{% block main %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">{{ page_title }}</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
{#          <button type="button" class="btn btn-sm btn-outline-secondary">Compartilhar</button>#}
{#          <button type="button" class="btn btn-sm btn-outline-secondary">Exportar</button>#}
        </div>
      </div>
    </div>
    <di class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Orçamento</th>
            <th>Recebido por</th>
            <th>Enviado por</th>
            <th>Enviado em</th>
            <th>Mensagem</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for feedback in all_feedbacks %}
            <tr>
              <td class="float-center">
                <div class="btn-group btn-group-sm">
                  <button type="button" class="btn btn-link">
                    {{ feedback.quotationsId.objectId }}
                  </button>
                </div>
              </td>
              <td>{{ feedback.recipientId.userId.name }}</td>
              <td>{{ feedback.senderId.name }}</td>
              <td>{{ "{:%d/%m/%Y}".format(feedback.createdAt) }}</td>
              <td>{{ feedback.message }}</td>
              <td class="float-center">
                <div class="btn-group btn-group-sm" role="group">
                  <a class="btn btn-primary" href="{{ url_for('.feedback_edit', object_id=feedback.objectId)}}">
                    <i data-feather="edit"></i>
                  </a>
                  <a class="btn btn-danger" href="{{ url_for('webui.object_delete', model_name='feedbacks', object_id=feedback.objectId) }}">
                    <i data-feather='trash-2'></i>
                  </a>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </di>
  </main>
{% endblock main %}
