{% extends "base.html" %}

{% block main %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">
        <a href="{{ url_for('.qualifications_index') }}">{{ page_title }}</a>
      </h1>
    </div>
    <div>
      <form method="POST" action=".">
        {{ form.csrf_token }}

          <div class="form-group row">
          <label for="{{ form.name.id }}" class="col-md-2 col-form-label">{{ form.name.label }}</label>
          <div class="col-md-7">
            {{ form.name(class_="form-control", placeholder=form.name.default) }}
          </div>
        </div>

        <div class="form-group row">
          <label for="{{ form.qualId.id }}" class="col-md-2 col-form-label">{{ form.qualId.label }}</label>
          <div class="col-md-7">
            {{ form.qualId(class_="form-control", placeholder=form.qualId.default) }}
          </div>
        </div>


        <div class="form-group row">
          <div class="col-md-9">
            <button type="submit" class="btn btn-primary float-right">Salvar</button>
          </div>
        </div>
      </form>
    </div>
  </main>
{% endblock main %}
