<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard - ColaboraSol - {% block title %}{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  </head>
  <body>
    {% block messages %}
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="container-fluid flask-messages">
            <div class="row-fluid">
              {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissible fade mb-0 show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endfor %}
            </div>
          </div>
        {% else %}
          {% if not is_logged_in() %}
            <div class="container-fluid flask-messages">
              <div class="row-fluid">
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                  Por favor, informe um usuário e senha para acessar
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
            </div>
          {% endif %}
        {% endif %}
      {% endwith %}
    {% endblock messages %}

    {% block content_wrapper %}
      <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">
          <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Colaborasol logo">
          Colaborasol
        </a>
        <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <a class="nav-link" href="{{ url_for('simplelogin.logout') }}">Logout</a>
          </li>
        </ul>
      </nav>

      <div class="container-fluid">
        <div class="row">
          {% block sidebar %}
            {% include "includes/sidebar.html" %}
          {% endblock sidebar %}
          {% block main %}{% endblock main %}
        </div>
      </div>
    {% endblock content_wrapper %}

    <script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace();
    </script>
  </body>
</html>
