{% extends "base.html" %}

{% block main %}

  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Últimos Feedbacks</h1>
    </div>
    <div class="table-responsive">
      <table class='table table-striped'>
        <thead>
          <tr>
            <th>Orçamento</th>
            <th>Recebido por</th>
            <th>Enviado por</th>
            <th>Mensagem</th>
            <th>Enviado em</th>
          </tr>
        </thead>
        <tbody>
          {% for feedback in latest_feedbacks %}
            <tr>
            <td class="float-center">
                <div class="btn-group btn-group-sm">
                  <button type="button" class="btn btn-link">
                    {{ feedback.quotationsId.objectId }}
                  </button>
                </div>
              </td>
              <td>{{ feedback.recipientId.userId.name }}</td>
              <td>{{ feedback.senderId.name }}</td>
              <td>{{ feedback.message }}</td>
              <td>{{ "{:%d/%m/%Y}".format(feedback.createdAt) }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>


    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1>Últimos cadastros</h1>
    </div>
    <div class="table-responsive">
      <table class='table table-striped'>
        <thead>
          <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th>Cidade</th>
            <th>Tipo de usuário</th>
            <th>Criado em</th>
          </tr>
        </thead>
        <tbody>
          {% for user in recent_user_signups %}
            <tr>
              <td>{{ user.name }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.phone }}</td>
              <td>{{ user.city.city }}</td>
              <td>{{ user.userRole }}</td>
              <td>{{ "{:%d/%b/%Y}".format(user.createdAt) }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </main>

{% endblock main %}
