{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content_wrapper %}

  <div class="container-fluid login-form-container">
    <div class="row justify-content-center">

      {%if form.errors %}
        <ul class="alert alert-danger">
          {% for field, errors in form.errors.items() %}
            <li>{{field}} {% for error in errors %}{{ error }}{% endfor %}</li>
          {% endfor %}
        </ul>
      {% endif %}

      <div class="col-4">

        <img src="{{ url_for('static', filename='img/logo-colaborasol.png') }}" alt="Colaborasol" />

        <form action="{{ url_for('simplelogin.login', next=request.args.get('next', '/')) }}" method="post">

          <div class="form-group">
            {{ form.csrf_token }}
            <label for="{{ form.username.id }}"><!-- {{ form.username.name|title }} -->Usuário:</label>
            {{ form.username(class="form-control form-control-lg", placeholder=form.username.name.title()) }}
          </div>

          <div class="form-group">
            <label for="{{ form.password.id }}"><!-- {{ form.password.name|title }} -->Senha:</label>
            {{ form.password(class="form-control form-control-lg", placeholder=form.password.name.title()) }}
          </div>

          <div class="form-group">
            <input type="submit" value="Entrar" class="btn btn-primary">
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content_wrapper %}
