{% extends "base.html" %}

{% block main %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">{{ page_title }}</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <a href="{{ url_for('.jobtype_add') }}" class="btn btn-sm btn-outline-primary">
            <i data-feather='plus-square'></i> Adicionar
          </a>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class='table table-striped'>
        <thead>
          <tr>
            <th>Abreviação / ID</th>
            <th>Tipo de Serviço</th>
            <th>Texto / Nome</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for jobtype in all_jobtype %}
            <tr>
              <td>{{ jobtype.typeId }}</td>
              <td>{{ jobtype.typeJob }}</td>
              <td>{{ jobtype.name }}</td>
              <td class="float-center">
                <div class="btn-group btn-group-sm" role="group">
                  <a class="btn btn-primary" href="{{ url_for('.jobtype_edit', object_id=jobtype.objectId)}}">
                    <i data-feather='edit'></i>
                  </a>
                  <a class="btn btn-danger" href="{{ url_for('webui.object_delete', model_name='jobtype', object_id=jobtype.objectId) }}">
                    <i data-feather='trash-2'></i>
                  </a>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
{% endblock main %}
