{% extends "base.html" %}

{% block main %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">
        <a href="{{ url_for('.location_index') }}">{{ page_title }}</a>  / Novo registro
      </h1>
    </div>
    <div>
      <form method="POST" action=".">
        {{ form.csrf_token }}

        <div class="form-group row">
          <label for="{{ form.city.id }}" class="col-md-2 col-form-label">{{ form.city.label }}</label>
          <div class="col-md-7">
            {{ form.city(class_="form-control", placeholder=form.city.default or form.city.description) }}
          </div>
        </div>

        <div class="form-group row">
          <label for="{{ form.state.id }}" class="col-md-2 col-form-label">{{ form.state.label }}</label>
          <div class="col-md-7">
            {{ form.state(class_="form-control", placeholder=form.state.default or form.state.description) }}
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-9">
            <button type="submit" class="btn btn-primary float-right">Salvar</button>
          </div>
        </div>
      </form>
    </div>
  </main>
{% endblock main %}
