
<nav class='col-md-2 d-none d-md-block bg-light sidebar'>
  <div class='sidebar-sticky'>

    <ul class='nav flex-column'>
      {% for key in main_menu_titles %}
        {% if key == 'home' %}
          {% set function_path = 'webui.' + key %}
        {% else %}
          {% set function_path = 'webui.' + key + '_index' %}
        {% endif %}
        {% with traget_url=url_for(function_path) %}
          {% if key == 'home' %}
            {% set active_item = request.path == traget_url %}
          {% else %}
            {% set active_item = request.path.startswith == traget_url %}
          {% endif %}
          <li class='nav-item'>
            <a class='nav-link {% if active_item %} active {% endif %}' href='{{ traget_url }}'>
              <i data-feather="{{ main_menu_titles[key]['icon_name'] }}"></i>
              {{ main_menu_titles[key]['title'] }}
              {% if request.path == traget_url %}
                <span class='sr-only'>(current)</span>
              {% endif %}
            </a>
          </li>
        {% endwith %}
      {% endfor %}
    </ul>

    <h6 class='sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted'>
      <span>Textos Legais</span>

      <a class='d-flex align-items-center text-muted' href='#'>
        <i data-feather='plus-circle'></i>
      </a>
    </h6>

    <ul class='nav flex-column mb-2'>

      {% for key in legal_texts_titles %}
        {% set function_path = 'webui.' + key + '_index' %}
          {% with traget_url=url_for(function_path)  %}
            {% set active_item = request.path.startswith(traget_url) %}
            <li class='nav-item'>
              <a class='nav-link {% if active_item %} active {% endif %}' href='{{ traget_url }}'>
                <i data-feather='file-text'></i>
                  {{ legal_texts_titles[key]['title'] }}
                {% if request.path == traget_url %}
                  <span class='sr-only'>(current)</span>
                {% endif %}
              </a>
            </li>
          {% endwith %}
      {% endfor %}
    </ul>

  </div>
</nav>
