{% extends "base.html" %}

{% block main %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">
        <a href="{{ url_for('.suppliers_index') }}">{{ page_title }}</a>  / {{ target_obj.city }}
      </h1>
    </div>
    <div>
      <form method="POST" action=".">
        {{ form.csrf_token }}

        <div class="form-group row">
          <label for="{{ form.razaoSocial.id }}" class="col-md-2 col-form-label">{{ form.razaoSocial.label }}</label>
          <div class="col-md-7">
            {{ form.razaoSocial(class_="form-control", placeholder=form.razaoSocial.default) }}
          </div>
        </div>


        <div class="form-group row">
          <label for="{{ form.supplierField.id }}" class="col-md-2 col-form-label">{{ form.supplierField.label }}</label>
          <div class="col-md-7">
            {{ form.supplierField(class_="form-control", placeholder=form.supplierField.default) }}
          </div>
        </div>

        <div class="form-group row">
          <label for="{{ form.companyType.id }}" class="col-md-2 col-form-label">{{ form.companyType.label }}</label>
          <div class="col-md-7">
            {{ form.companyType(class_="form-control", placeholder=form.companyType.default) }}
          </div>
        </div>

        <div class="form-group row">
          <label for="{{ form.xp.id }}" class="col-md-2 col-form-label">{{ form.xp.label }}</label>
          <div class="col-md-7">
            {{ form.xp(class_="form-control", placeholder=form.xp.default) }}
          </div>
        </div>

        <div class="form-group row">
          <label for="{{ form.finishedJobs.id }}" class="col-md-2 col-form-label">{{ form.finishedJobs.label }}</label>
          <div class="col-md-7">
            {{ form.finishedJobs(class_="form-control", placeholder=form.finishedJobs.default) }}
          </div>
        </div>


        {# /campos read-only #}


          <div class="form-group row">
            <label for="cityId" class="col-md-2 col-form-label">Email do Usuário</label>
            <div class="col-md-7">
             {{ target_obj.userId.email }}
            </div>
          </div>
          <div class="form-group row">
            <label for="cityId" class="col-md-2 col-form-label">Data de criação</label>
            <div class="col-md-7">
             {{ "{:%d/%m/%Y - %H:%M:%S %Z}".format(target_obj.createdAt) }}
            </div>
          </div>
          <div class="form-group row">
            <label for="cityId" class="col-md-2 col-form-label">Data de última edição</label>
            <div class="col-md-7">
             {{ "{:%d/%m/%Y - %H:%M:%S %Z}".format(target_obj.updatedAt) }}
            </div>
          </div>
{#          <div class="form-group row">#}
{#            <label for="cityId" class="col-md-2 col-form-label">Qualificações</label>#}
{#            <div class="col-md-7">#}
{#             {{ target_obj.qualifications }}#}
{#            </div>#}
{#          </div>#}
{#          <div class="form-group row">#}
{#            <label for="cityId" class="col-md-2 col-form-label">jobsOffered</label>#}
{#            <div class="col-md-7">#}
{#             {{ target_obj.jobsOffered }}#}
{#            </div>#}
{#          </div>#}

        <div class="form-group row">
          <div class="col-md-9">
            <button type="submit" class="btn btn-primary float-right">Salvar</button>
          </div>
        </div>
      </form>
    </div>
  </main>
{% endblock main %}
