{% extends "base.html" %}

{% block main %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">{{ page_title }}</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
{#          <button type="button" class="btn btn-sm btn-outline-secondary">Compartilhar</button>#}
{#          <button type="button" class="btn btn-sm btn-outline-secondary">Exportar</button>#}
        </div>
      </div>
    </div>
    <div class="table-responsive">
          <table class='table table-striped'>
        <thead>
          <tr>
            <th>Razão Social</th>
            <th>Área de Atuação/Formação</th>
            <th>Tipo de Empresa</th>
            <th>Experiência</th>
            <th>Trabalhos Concluídos</th>
            <th>Cidade</th>
            <th>Criado em</th>
            <!-- <th class="col-md-1">Ações</th> por algum motivo isso começou a quebrar o site-->
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for supplier in all_suppliers %}
            <tr>
              <td>{{ supplier.razaoSocial }}</td>
              <td>{{ supplier.supplierField }}</td>
              <td>{{ supplier.companyType }}</td>
              <td>{{ supplier.xp }} anos</td>
              <td>{{ supplier.finishedJobs }}</td>
              <td>{{ supplier.userId.city.city }}</td>
              <td>{{ "{:%d/%b/%Y}".format(supplier.createdAt) }}</td>
              <td class="float-center">
                <div class="btn-group btn-group-sm" role="group">
                  <a class="btn btn-primary" href="{{ url_for('.supplier_edit', object_id=supplier.objectId) }}">
                    <i data-feather='edit'></i>
                  </a>
                  <a class="btn btn-danger" href="{{ url_for('webui.object_delete', model_name='suppliers', object_id=supplier.objectId) }}">
                    <i data-feather='trash-2'></i>
                  </a>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
{% endblock main %}
