.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* custom css */
.navbar-brand img {
  max-height: 30px;
}

.flask-messages {
    position: fixed;
    z-index: 1;
}
nav.navbar.fixed-top {
    position: relative;
    z-index: 0;
}

nav.sidebar {
    position: relative;
}

.login-form-container {
    position: fixed;
    margin-top: 50px;
}

.login-form-container img{
    width: 60%;
    margin: 0px auto 50px auto;
    display: block;
}

.login-form-container .btn-primary{
  background: #FFB40F;
  border: none;
  color: #fff;
  font-weight: bold;
}

.login-form-container .btn-primary:hover{
  background: #282828
}
